header{
    vertical-align: middle;
    justify-content: center;
    background-color: #dedad1;
    align-items: center;
    padding: 5px;
    display: flex;
}

body{
    margin: 0;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
}



p{
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    background-color: #ff4230;
    display: flex;
    margin: 0;
    border: none;
    align-items: center;
    justify-content: center;
    

}

button{
    background-color: #ff4230;
    display: flex;
    margin: 0;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;  
}

.contacto{
    background-color: #2c361d;
    display: flex;
    margin: 0;
    color: #dedad1;
    align-items: center;
    justify-content: center;  
}

.footer{
    background-color: #480607;
    align-items: center;
    margin: 0;
    justify-content: center;
    display: grid;
}

